body {
  margin: 0;
  background-color: lightgray;
}

#my-canvas {
  background-color: darkgray;
}

#start-btn, #restart-btn {
  background-color: rgb(155, 140, 5);
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  z-index: 1
}

 .score{
  position: fixed;
  z-index: 10;
  color: black;
  font-size: 40px;
  position: relative;
 
}

#my-canvas, #gameover-screen, #pause-btn{
  display: none /* oculta los elemento */ 
}