@import url('https://fonts.googleapis.com/css?family=Righteous');

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: lightgray;
}

#my-canvas {
  background-color: darkgray;
}

#start-btn, #restart-btn {
  background-color: rgb(155, 140, 5);
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  z-index: 1
}

h1 {
  font-size: 4.5rem;
  line-height: 1;
  margin: 3 3 0 0 rem;
}

h2 {
  font-size: 2rem;
  color: #3b1010;
  margin: 0.5rem;
}
.score, #scoreDOM, span, #pause-btn{
  background: #ffe5cf;
  padding: 0 3rem;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 1rem; 
  color: #3b1010;
}

#my-canvas, #gameover-screen, #pause-btn{
  display: none /* oculta los elemento */ 
}